<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>User rate:</strong>
    <%= book.user_rate %>
  </p>

  <p>
    <strong>Ability to trade:</strong>
    <%= book.ability_to_trade %>
  </p>

  <p>
    <strong>User:</strong>
    <%= book.user_id %>
  </p>

</div>
